In [11]:
import numpy as np
import pandas as pd
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import pandas_datareader as pdr
%matplotlib inline

In [12]:
tickers = pd.read_csv('NASDAQ100_short.csv', parse_dates=['from', 'to'])

In [13]:
tickers

  ticker       from         to
0    AAL 2014-12-22        NaT
1   ADCT        NaT 2003-12-22
2   ADBE        NaT        NaT
3   VMED 1998-12-21 2000-10-27
4   VMED 2004-12-20 2008-12-22
5   VMED 2009-12-21 2013-06-05

In [14]:
start_date = datetime(1990,1,1)
end_date = datetime(2017,12,1)

collected_dfs = {}

def is_nat(dt):
    return type(dt) == pd._libs.tslib.NaTType

def download(row):
    from_date = start_date if is_nat(row['from']) else row['from'].to_pydatetime()
    to_date = end_date if is_nat(row['to']) else row['to'].to_pydatetime()
    ticker = row.ticker
    tup = (ticker, from_date, to_date)
    
    print('Download', *tup)
    try:
        data = pdr.get_data_yahoo(ticker, from_date, to_date)
        data.drop(['Volume', 'Adj Close'], axis=1, inplace=True)
        collected_dfs[tup] = data
    except Exception as e:
        print(e)

In [15]:
tickers.apply(download, axis=1)

Download AAL 2014-12-22 00:00:00 2017-12-01 00:00:00
Unable to read URL: https://query1.finance.yahoo.com/v7/finance/download/AAL?period1=1419202800&period2=1512169199&interval=1d&events=history&crumb=HptM37%5Cu002FIX.f
Download ADCT 1990-01-01 00:00:00 2003-12-22 00:00:00
Unable to read URL: https://query1.finance.yahoo.com/v7/finance/download/ADCT?period1=631148400&period2=1072133999&interval=1d&events=history&crumb=cWjk6m7E8L8
Download ADBE 1990-01-01 00:00:00 2017-12-01 00:00:00
Download VMED 1998-12-21 00:00:00 2000-10-27 00:00:00
Unable to read URL: https://query1.finance.yahoo.com/v7/finance/download/VMED?period1=914194800&period2=972683999&interval=1d&events=history&crumb=EVPCYX1pzmU
Download VMED 2004-12-20 00:00:00 2008-12-22 00:00:00
Download VMED 2009-12-21 00:00:00 2013-06-05 00:00:00

0    None
1    None
2    None
3    None
4    None
5    None
dtype: object

In [16]:
collected_dfs.keys()

dict_keys([('ADBE', datetime.datetime(1990, 1, 1, 0, 0), datetime.datetime(2017, 12, 1, 0, 0)), ('VMED', datetime.datetime(2004, 12, 20, 0, 0), datetime.datetime(2008, 12, 22, 0, 0)), ('VMED', datetime.datetime(2009, 12, 21, 0, 0), datetime.datetime(2013, 6, 5, 0, 0))])

In [20]:
tickers.ticker.unique()

array(['AAL', 'ADCT', 'ADBE', 'VMED'], dtype=object)

In [19]:
for tick in tickers.ticker.unique():
    all_data = list(filter(lambda item: item[0][0] == tick, collected_dfs.items()))
    print(len(all_data))

0
0
1
2