In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
from sklearn.decomposition import PCA
from sklearn.grid_search import GridSearchCV
from sklearn.preprocessing import LabelBinarizer, StandardScaler
from sklearn.ensemble import RandomForestClassifier

In [7]:
from utils import read_ami_SPY_data

In [6]:
train_size = 150
test_size = 150

In [8]:
data = read_ami_SPY_data()

In [9]:
data.head()

                Open      High       Low     Close   Volume
Date
1999-03-10  128.4687  129.2500  127.7812  129.1875  3950000
1999-03-11  129.6875  131.1875  128.8750  130.6250  6583700
1999-03-12  131.0000  131.0312  129.2187  129.3750  5286500
1999-03-15  129.9375  131.2500  129.5000  131.2187  5394400
1999-03-16  131.1250  131.6562  130.4687  130.7187  4547500